@use "../utils/placeholders";
@use "../utils/variables" as var;
@use "../utils/functions" as fn;
@use "../utils/mixins" as mx;

.header {
  margin-bottom: 20px;
  width: 100%;

  &.home {
    border-radius: 30px 30px 0 0;
    border-color: fn.get-color("accent");
    background-color: fn.get-color("accent");
    padding: 18px 20px 0 20px;
    margin-bottom: 0px;

    &.light {
      color: fn.get-color("dark");
      border-color: fn.get-color("accent");
      background-color: fn.get-color("accent");
    }

    &.dark {
      color: fn.get-color("light");
      background-color: fn.get-color("accent-dark");
    }

    @include mx.mq("md") {
      border-radius: 60px 60px 0 0;
    }

    @include mx.mq("lg") {
      padding: 16px 64px 0 64px;
    }
  }
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-logo {
  margin-right: auto;

  @include mx.mq("lg") {
    margin-left: 32px;
  }

  &.home {
    @include mx.mq("lg") {
      margin-left: 0;
    }
  }
}

.header-logo-text {
  @extend %logo;

  color: fn.get-color("dark");
  display: flex;
  align-items: flex-end;

  &.home {
    color: fn.get-color("light");

    &.dark {
      color: fn.get-color("light-dark");
    }
  }

  &.dark {
    color: fn.get-color("light");
  }
}

.logo-heart {
  fill: fn.get-color("accent");
  width: 17px;
  height: 17px;

  @include mx.mq("lg") {
    width: 23px;
    height: 23px;
  }

  &.home {
    fill: fn.get-color("light");

    &.dark {
      fill: fn.get-color("light-dark");
    }
  }
}

.logo-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header-wrap {
  display: flex;
  align-items: center;
  margin-right: 6px;
  gap: 8px;

  @include mx.mq("md") {
    margin-right: 12px;
  }
}

.header-name {
  display: none;

  color: fn.get-color("dark");

  &.dark {
    color: fn.get-color("light-dark");
  }

  @extend %header-name;

  @include mx.mq("md") {
    display: inline;
  }

  &.home {
    color: fn.get-color("light");
  }
}

.header-auth-list {
  display: none;

  @include mx.mq("md") {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 16px;

    & .menu-link.register {
      color: fn.get-color("light");
      background-color: fn.get-color("accent");
    }
  }

  @include mx.mq("lg") {
    margin-right: 25px;
  }
}

.header-link {
  padding: 15px 20px;
  border-radius: 30px;
  cursor: pointer;

  @extend %header-button-text;

  &.register {
    color: fn.get-color("accent");
    background-color: fn.get-color("background-secondary");
    transition: all 0.5s ease-in;

    &:hover,
    &:focus {
      background-color: fn.get-color("background-hover");
    }
  }

  &.login {
    color: fn.get-color("light");
    background-color: fn.get-color("accent");
    transition: all 0.5s ease-in;

    &:hover,
    &:focus {
      color: fn.get-color("accent");
      background-color: fn.get-color("background-secondary");
    }
  }
}

.menu-burger-wrap {
  display: flex;
  align-items: center;
  gap: 8px;

  @include mx.mq("lg") {
    display: none;
  }
}

.menu-burger {
  fill: fn.get-color("dark");
  cursor: pointer;

  &.dark {
    fill: fn.get-color("light-dark");
  }

  &.home {
    fill: fn.get-color("light");

    &.dark {
      fill: fn.get-color("light-dark");
    }
  }
}

.header-menu-nav {
  margin-right: auto;
  margin-left: auto;
}

.header-menu-list {
  display: none;

  @include mx.mq("lg") {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
}

.header-menu-link {
  display: flex;
  justify-content: center;
  align-items: center;

  @extend %menu-item-text;

  border-radius: 30px;
  border: 1px solid fn.get-color("border-dark-primary");
  padding: 15px;
  height: 48px;

  color: fn.get-color("dark");
  transition: all 0.5s ease-in;

  &:hover,
  &:focus {
    background-color: fn.get-color("transparent");
    border-color: fn.get-color("accent");
  }

  &[aria-current="page"] {
    background-color: fn.get-color("transparent");
    border-color: fn.get-color("accent");
  }

  &.dark {
    color: fn.get-color("light-dark");
  }
}