@use "../utils/placeholders";
@use "../utils/variables" as var;
@use "../utils/functions" as fn;
@use "../utils/mixins" as mx;

.home-wrap {
  display: flex;
  flex-direction: column;
}

.home-back {
  position: relative;
  background-color: fn.get-color("accent");
  border-radius: 0 0 30px 30px;
  padding: 60px 20px 50px 20px;
  border-color: fn.get-color("accent");

  &.dark {
    background-color: fn.get-color("accent-dark");
  }

  @include mx.mq("md") {
    border-radius: 0 0 60px 60px;
    padding: 112px 82px 88px 32px;
  }

  @include mx.mq("lg") {
    padding: 112px 392px 32px 64px;
  }
}

.home-title {
  @extend %home-title;

  color: fn.get-color("light");
  margin-bottom: 24px;

  @include mx.mq("md") {
    margin-bottom: 0;
  }
}

.home-span {
  color: #ffffff66;
}

.home-text {
  @extend %home-text;

  color: fn.get-color("light");

  @include mx.mq("md") {
    width: 255px;
    position: absolute;
    right: 32px;
    bottom: 32px;
  }

  @include mx.mq("lg") {
    right: 64px;
    bottom: 10px;
  }
}