@use "../utils/placeholders";
@use "../utils/variables" as var;
@use "../utils/functions" as fn;
@use "../utils/mixins" as mx;

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.menu {
  position: fixed;
  width: 218px;
  height: 100%;
  background-color: fn.get-color("accent");
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  padding: 28px 20px 40px 20px;

  display: flex;
  flex-direction: column;

  transform: translateX(100%);
  transition: transform 0.5s ease;

  &.open {
    animation: slideIn 0.5s forwards;
  }

  @include mx.mq("md") {
    width: 374px;
  }

  &.home {
    background-color: fn.get-color("light");
  }
}

.menu-close-wrap {
  text-align: end;
  margin-bottom: 176px;
}

.menu-close {
  fill: fn.get-color("light");

  &.home {
    fill: fn.get-color("dark");
  }
}

.menu-nav {
  display: flex;
  flex-direction: column;
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.menu-auth-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: auto;
}

.menu-link {
  display: flex;
  justify-content: center;
  align-items: center;

  @extend %menu-item-text;

  color: fn.get-color("light");
  border-radius: 30px;
  border: 1px solid fn.get-color("border-dark-primary");
  padding: 15px;
  width: 119px;
  height: 48px;

  &:hover,
  &:focus {
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  &.login {
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: fn.get-color("light");
    width: 178px;
    height: 42px;
    padding: 12px;

    &.home {
      color: fn.get-color("light");
      background-color: fn.get-color("accent");
      border: none;
    }
  }

  &.register,
  &.logout {
    color: fn.get-color("accent");
    background-color: fn.get-color("background-secondary");
    width: 178px;
    height: 42px;
    padding: 12px;
    cursor: pointer;

    &.home {
      color: fn.get-color("accent");
      border: none;
    }

    &:hover,
    &:focus {
      background-color: fn.get-color("background-hover");
    }
  }

  &.home {
    color: fn.get-color("dark");
    border: 1px solid #26262666;
  }
}

.menu-login,
.menu-register,
.menu-logout {
  @extend %form-button-text;
}

.menu-link[aria-current="page"] {
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
