@use "../utils/placeholders";
@use "../utils/variables" as var;
@use "../utils/functions" as fn;
@use "../utils/mixins" as mx;

.news-container {
  padding: 40px 0 80px 0;

  @include mx.mq("md") {
    padding: 0;
  }
  @include mx.mq("lg") {
    padding: 0 32px 0 31px;
  }
}
.news-main-wrap {
  display: inline;

  @include mx.mq("md") {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 44px;
    margin-top: 85px;
  }

  @include mx.mq("lg") {
    margin-bottom: 60px;
    margin-top: 96px;
  }
}

.news-main-title {
  @extend %title;

  margin-bottom: 20px;

  @include mx.mq("md") {
    margin-bottom: 0;
  }
}

.news-cards {
  display: flex;
  gap: 24px;
  flex-direction: column;
  margin-top: 20px;

  @include mx.mq("md") {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px 24px;
  }

  @include mx.mq("lg") {
    gap: 68px 35px;
  }
}

.news-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include mx.mq("md") {
    width: 340px;
  }

  @include mx.mq("lg") {
    width: 361px;
  }
}

.news-card-top {
  display: flex;
  flex-direction: column;
}

.icon-search {
  width: 18px;
  height: 18px;

  fill: fn.get-color("dark");
  transition: fill 0.5s ease-in;

  &:hover,
  &:focus {
    fill: fn.get-color("accent");
  }
}

.news-img {
  width: 100%;
  height: 178px;
  margin-bottom: 20px;
  border-radius: 15px;
  object-fit: cover;

  @include mx.mq("lg") {
    height: 226px;
  }
}

.news-title {
  @extend %news-title;
  margin-bottom: 12px;

  color: fn.get-color("dark");
}

.news-text {
  @extend %news-subtitle;
  margin-bottom: 20px;

  color: fn.get-color("dark");
}

.news-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news-date {
  @extend %news-subtitle;

  color: fn.get-color("form-dark");
}

.news-link {
  @extend %news-subtitle;

  color: fn.get-color("accent");
  text-decoration: underline;
}
