@use "../utils/placeholders";
@use "../utils/variables" as var;
@use "../utils/functions" as fn;
@use "../utils/mixins" as mx;

.notices-container {
  padding: 10px 0 80px 0;
}

.notices-main-title {
  @extend %title;
  margin-bottom: 40px;

  @include mx.mq("md") {
    margin-bottom: 30px;
  }
}

.notices-form-wrap {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 30px;

  background-color: fn.get-color("background-secondary");

  &.dark {
    background-color: fn.get-color("accent-dark");
  }

  @include mx.mq("md") {
    padding: 40px 35px 40px 32px;
  }
}

.wrap-form-lists {
  display: flex;
  gap: 12px;

  @include mx.mq("md") {
    display: inline;
  }
}

.notices-form-top {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  @include mx.mq("md") {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    gap: 16px;
  }

  @include mx.mq("lg") {
    justify-content: space-between;
  }
}

.findFormList-by-type {
  display: none;

  @include mx.mq("md") {
    display: block;
  }
}

.notices-stroke {
  border: 1px solid fn.get-color("border-dark-secondary");
  margin-bottom: 20px;
}

.sort-button-wrap {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.notices-cards {
  gap: 20px;

  @include mx.mq("lg") {
    padding: 0 32px;
    gap: 40px 32px;
    justify-content: center;
  }
}

.notices-card {
  padding: 24px;
  background-color: fn.get-color("light");
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.dark {
    background-color: fn.get-color("light-dark");
  }

  @include mx.mq("md") {
    width: 342px;
  }

  @include mx.mq("lg") {
    width: 362.5px;

    &.profile {
      padding: 14px;
      width: 320px;
    }
  }
}

.notices-img {
  border-radius: 16px;
  margin-bottom: 24px;
  width: 100%;
}

.notices-title-wrap,
.notices-icon-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notices-icon-wrap {
  gap: 4px;
}

.notices-popularity {
  @include mx.font(14, 18, 0, 500);

  @include mx.mq("md") {
    @include mx.font(14, 20, 0, 500);
  }
}

.notices-title-wrap {
  margin-bottom: 8px;
}

.notices-title {
  @include mx.font(16, 20, 0, 700);

  &.dark {
    color: fn.get-color("dark");
  }

  @include mx.mq("md") {
    @include mx.font(18, 24, 0, 700);
  }
}

.icon-star {
  fill: fn.get-color("accent");
  width: 16px;
  height: 16px;
}

.notices-text-wrapper {
  display: flex;
  gap: 14px;
}

.notices-text-wrap {
  display: flex;
  flex-direction: column;

  @include mx.font(12, 14, -2, 500);

  color: fn.get-color("dark");
  margin-bottom: 16px;
}

.notices-title-text {
  @include mx.font(10, 14, -2, 500);

  color: fn.get-color("form-dark");
  margin-bottom: 2px;
}

.notices-text {
  @include mx.font(14, 18, -2, 500);
  color: fn.get-color("dark");
  margin-bottom: 24px;
}

.notices-button {
  color: fn.get-color("light");
  background-color: fn.get-color("accent");
  padding: 14px;
  border-radius: 30px;
  border: none;
  width: 100%;
  transition: all 0.5s ease-in;

  @include mx.font(14, 18, -3, 500);

  @include mx.mq("md") {
    @include mx.font(16, 20, -3, 500);
  }

  &:hover,
  &:focus {
    color: fn.get-color("accent");
    background-color: fn.get-color("background-secondary");
  }
}

.notices-add-favorite {
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: fn.get-color("background-secondary");
  border: none;
  min-width: 46px;
  height: 46px;
  cursor: pointer;
  transition: all 0.5s ease-in;

  &:hover,
  &:focus {
    background-color: fn.get-color("background-hover");
  }
}

.icon-heart {
  fill: fn.get-color("accent");
  width: 18px;
  height: 18px;
}

.notices-button-wrap {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}