@use "../utils/placeholders";
@use "../utils/variables" as var;
@use "../utils/functions" as fn;
@use "../utils/mixins" as mx;

.profile-background {
  background-color: fn.get-color("transparent");
  border-radius: 30px;
  padding: 18px 20px;

  @include mx.mq("lg") {
    background-color: transparent;
    padding: 0;
    width: 664px;
  }

  &.my {
    margin-bottom: 20px;

    &.dark {
      background-color: fn.get-color("light-dark");
    }

    @include mx.mq("md") {
      padding: 40px;
      width: 704px;
      margin-bottom: 40px;
    }

    @include mx.mq("lg") {
      background-color: fn.get-color("light");

      width: 520px;
      margin-bottom: 0px;
    }
  }
}

.profile-main-wrap {
  @include mx.mq("lg") {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 32px;

    justify-content: space-between;
  }
}

.profile-tab {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.profile-user-wrapper {
  display: flex;

  justify-content: space-between;
  align-items: center;

  &.addPet {
    margin-bottom: 20px;
  }
}

.profile-user-wrap {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;

  background-color: fn.get-color("accent");
  color: fn.get-color("light");
  border-radius: 30px;
  padding: 10px;
  cursor: pointer;

  transition: all 0.5s ease-in;

  &:hover,
  &:focus {
    stroke: fn.get-color("accent");
    fill: fn.get-color("accent");
    color: fn.get-color("accent");
    background-color: fn.get-color("background-hover");
  }

  &.name {
    cursor: auto;
  }

  &.my-pets {
    width: 123px;

    &.unactive {
      background-color: fn.get-color("light");
      color: fn.get-color("dark");

      &.dark {
        background-color: fn.get-color("light-dark");
      }
    }
  }
}

.profile-name {
  @include mx.font(14, 18, -2, 500);
}

.icon-person,
.icon-plus {
  fill: fn.get-color("light");
}

.profile-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;

  background-color: fn.get-color("background-secondary");
  border-radius: 50%;
  border: none;
  transition: all 0.5s ease-in;

  &:hover,
  &:focus {
    background-color: fn.get-color("background-hover");
  }
}

.profile-edit-icon {
  fill: fn.get-color("accent");
}

.img-wrap.card-info-modal.profile {
  flex-direction: column;
  gap: 8px;

  margin-bottom: 28px;
}

.card-info-modal-img.logout.profile {
  width: 94px;
  height: 94px;
  margin-bottom: 0;
}

.inputFile {
  display: none;
}

.profile-upload {
  @include mx.font(12, 16, -2, 500);

  color: fn.get-color("dark");
  text-decoration: underline;
  text-align: center;

  cursor: pointer;

  &.edit {
    text-decoration: none;
  }
}

.profile-title {
  @include mx.font(16, 20, 0, 700);

  margin-bottom: 20px;
}

.wrap-input.profile {
  gap: 10px;
  margin-bottom: 40px;

  @include mx.mq("md") {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 14px;

    justify-content: space-between;
  }
}

.input {
  @include mx.mq("md") {
    &.profile {
      width: calc((100% - 14px) / 2);
    }
  }

  @include mx.mq("lg") {
    &.profile {
      width: 100%;
    }
  }
}

//***** FAVORITE PETS *****//

.favorites-no-pets {
  @include mx.font(14, 18, -2, 700);

  text-align: center;
  color: fn.get-color("dark");

  &.dark {
    color: fn.get-color("light-dark");
  }

  &>p>span {
    color: fn.get-color("accent");
  }

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px auto;

  @include mx.mq("md") {
    @include mx.font(16, 20, -2, 700);

    margin: 40px auto;
  }

  @include mx.mq("lg") {
    &.my-pets {
      margin: 40px auto;
    }
  }
}

.favorites-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px;

  @include mx.mq("md") {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }

  @include mx.mq("lg") {

    display: flex;
    width: 100%;
  }
}

.favorites-link {
  color: fn.get-color("accent");

  &:hover,
  &:focus {
    color: fn.get-color("background-hover");
  }
}