@use "../utils/placeholders";
@use "../utils/variables" as var;
@use "../utils/functions" as fn;
@use "../utils/mixins" as mx;

.profile-background {
  background-color: fn.get-color("light");
  border-radius: 30px;
  padding: 18px 20px;

  @include mx.mq("lg") {
    background-color: transparent;
    padding: 0;
    width: 664px;
  }

  &.my {
    margin-bottom: 40px;

    @include mx.mq("lg") {
      background-color: fn.get-color("light");
      padding: 18px 20px;
      width: 520px;
    }
  }
}

.profile-main-wrap {
  @include mx.mq("lg") {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 32px;

    justify-content: space-between;
  }
}

.profile-tab {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.profile-user-wrapper {
  display: flex;

  justify-content: space-between;
  align-items: center;

  &.addPet {
    margin-bottom: 20px;
  }
}

.profile-user-wrap {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;

  background-color: fn.get-color("accent");
  color: fn.get-color("light");
  border-radius: 30px;
  padding: 10px;
  cursor: pointer;

  transition: all 0.5s ease-in;

  &:hover,
  &:focus {
    stroke: fn.get-color("accent");
    fill: fn.get-color("accent");
    color: fn.get-color("accent");
    background-color: fn.get-color("background-hover");
  }

  &.name {
    cursor: auto;
  }

  &.my-pets {
    width: 123px;

    &.unactive {
      background-color: fn.get-color("light");
      color: fn.get-color("dark");
    }
  }
}

.profile-name {
  @include mx.font(14, 18, -2, 500);
}

.icon-person,
.icon-plus {
  fill: fn.get-color("light");
}

.profile-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;

  background-color: fn.get-color("background-secondary");
  border-radius: 50%;
  border: none;
  transition: all 0.5s ease-in;

  &:hover,
  &:focus {
    background-color: fn.get-color("background-hover");
  }
}

.profile-edit-icon {
  fill: fn.get-color("accent");
}

.img-wrap.card-info-modal.profile {
  flex-direction: column;
  gap: 8px;
  align-items: center;
  margin-bottom: 28px;
}

.card-info-modal-img.logout.profile {
  width: 94px;
  height: 94px;
  margin-bottom: 0;
}

.inputFile {
  display: none;
}

.profile-upload {
  @include mx.font(12, 16, -2, 500);

  color: fn.get-color("dark");
  text-decoration: underline;
  text-align: center;

  cursor: pointer;

  &.edit {
    text-decoration: none;
  }
}

.profile-title {
  @include mx.font(16, 20, 0, 700);

  margin-bottom: 20px;
}

.wrap-input.profile {
  gap: 10px;
  margin-bottom: 40px;

  @include mx.mq("md") {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 14px;

    justify-content: space-between;
  }
}

.input {
  @include mx.mq("md") {
    &.profile {
      width: calc((100% - 14px) / 2);
    }
  }

  @include mx.mq("lg") {
    &.profile {
      width: 100%;
    }
  }
}

//***** MY PETS *****//
.my-pets-list {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.my-pet-border {
  position: relative;
  border: 1px solid rgba(38, 38, 38, 0.1);
  border-radius: 20px;
  padding: 16px 46px 16px 16px;
}

.my-pet-wrapper {
  display: flex;
  gap: 14px;
}

.my-pet-img {
  width: 66px;
  height: 66px;
  border-radius: 50%;
}

.my-pet-title {
  @include mx.font(14, 18, 0, 700);

  margin-bottom: 8px;
}

.my-pet-text-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.notices-text-wrap.my-pet {
  margin-bottom: 0;
}

.my-pet-delete {
  position: absolute;
  right: 12px;
  top: 12px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  min-height: 30px;
  border-radius: 30px;
  background-color: fn.get-color("background-secondary");
  border: none;

  cursor: pointer;
  transition: all 0.5s ease-in;

  &:hover,
  &:focus {
    background-color: fn.get-color("background-hover");
  }
}

.icon-heart.delete {
  padding: 0;
  width: 16px;
  height: 16px;
}

//***** FAVORITE PETS *****//

.favorites-no-pets {
  text-align: center;
  margin: 40px auto;
}

.favorites-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mx.mq("md") {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }

  @include mx.mq("lg") {
    gap: 24px;
  }
}
