@use "../utils/placeholders";
@use "../utils/variables" as var;
@use "../utils/functions" as fn;
@use "../utils/mixins" as mx;

.profile-background {
  background-color: fn.get-color("light");
  border-radius: 30px;
  padding: 18px 20px;
}
.profile-user-wrapper {
  display: flex;

  justify-content: space-between;
  align-items: center;

  &.addPet {
    margin-bottom: 20px;
  }
}

.profile-user-wrap {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;

  background-color: fn.get-color("accent");
  color: fn.get-color("light");
  border-radius: 30px;
  padding: 10px;
}

.profile-name {
  @include mx.font(14, 18, -2, 500);
}

.icon-person,
.icon-plus {
  fill: fn.get-color("light");
}

.profile-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;

  background-color: fn.get-color("background-secondary");
  border-radius: 50%;
}

.profile-edit-icon {
  fill: fn.get-color("accent");
}

.img-wrap.card-info-modal.profile {
  flex-direction: column;
  gap: 8px;
  align-items: center;
  margin-bottom: 28px;
}

.card-info-modal-img.logout.profile {
  width: 94px;
  height: 94px;
  margin-bottom: 0;
}

.profile-upload {
  @include mx.font(12, 16, -2, 500);

  color: fn.get-color("dark");
  text-decoration: underline;
  text-align: center;
}

.profile-title {
  @include mx.font(16, 20, 0, 700);

  margin-bottom: 20px;
}

.wrap-input.profile {
  gap: 10px;
  margin-bottom: 40px;
}
