@use "../utils/placeholders";
@use "../utils/variables" as var;
@use "../utils/functions" as fn;
@use "../utils/mixins" as mx;

.sort-button {
  display: inline-flex;
  gap: 6px;
  align-items: center;
  justify-content: center;

  border-radius: 30px;
  color: fn.get-color("form-dark");
  background-color: fn.get-color("light");
  border: none;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s ease-in;

  &:hover,
  &:focus {
    background-color: fn.get-color("background-hover");
    color: fn.get-color("accent");
    fill: fn.get-color("accent");
  }

  &.cross {
    background-color: fn.get-color("accent");
    color: fn.get-color("light");
    fill: fn.get-color("light");
  }
}

.button-wrap {
  display: inline-block;
}

.icon-cross {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 18px;
  height: 18px;
}
