@use "../utils/placeholders";
@use "../utils/variables" as var;
@use "../utils/functions" as fn;
@use "../utils/mixins" as mx;

.switch-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-right: 10px;
}

.switch-button {
  border: none;
  border-radius: 30px;
  width: 45px;
  height: 45px;
  padding: 0;

  &:hover,
  &:focus {
    background-color: fn.get-color("accent");
  }
}

.switch-icon {
  padding: 10px;
  width: 45px;
  height: 45px;
  border: 1px solid fn.get-color("light-dark");
  border-radius: 30px;
  cursor: pointer;

  &.white {
    color: fn.get-color("dark");
    background-color: fn.get-color("accent");

    &:hover,
    &:focus {
      background-color: fn.get-color("background-primary");
    }
  }

  &.light {
    color: fn.get-color("dark");
    background-color: fn.get-color("light-dark");

    &:hover,
    &:focus {
      background-color: fn.get-color("background-primary");
    }
  }

  &.dark {
    color: fn.get-color("background-primary");
    background-color: fn.get-color("background-accent");

    &:hover,
    &:focus {
      background-color: fn.get-color("background-primary");
    }
  }

  &.home {
    &.dark {
      color: fn.get-color("background-primary");
      background-color: fn.get-color("accent-dark");
    }

    &.white {
      color: fn.get-color("dark");
      background-color: fn.get-color("light");

      &:hover,
      &:focus {
        background-color: fn.get-color("accent");
      }
    }

    &.accent {
      color: fn.get-color("dark");
      background-color: fn.get-color("accent");

      &:hover,
      &:focus {
        background-color: fn.get-color("background-primary");
      }
    }
  }
}
