@use "../utils/placeholders";
@use "../utils/variables" as var;
@use "../utils/functions" as fn;
@use "../utils/mixins" as mx;

.unauth-info-modal-title {
  @include mx.font(20, 20, -3, 700);

  text-align: center;
  margin-bottom: 20px;
  color: fn.get-color("accent");

  @include mx.mq("md") {
    @include mx.font(24, 28, -3, 700);
  }
}

.unauth-info-modal-text {
  @include mx.font(14, 18, -2, 500);

  text-align: center;
  margin-bottom: 24px;
  color: fn.get-color("dark");
}
