$breakpoints: (
  "x-sm": 320px,
  "sm": 375px,
  "md": 768px,
  "lg": 1280px,
);

$colors: (
  "accent": #f6b83d,
  "light": #fff,
  "dark": #262626,
  "dark-list": #26262699,
  "grey": #2b2b2a66,
  "error": #ef2447,
  "form-dark": #26262680,
  "background-primary": #f9f9f9,
  "background-secondary": #fff4df,
  "background-hover": #fbe7c1,
  "background-btn": #2626260d,
  "background-accent": #dbbc7f,
  "border-dark-primary": #26262626,
  "border-dark-secondary": #2626261a,
  "side-light-grey": #9197b3,
  "backdrop": rgba(38, 38, 38, 0.3),
  "female": #f43f5e1a,
  "female-hover": #f43f5e,
  "male": #54adff1a,
  "male-hover": #54adff,
  "single-sex-icon": #54adff,
  "transparent": transparent,
  "current": currentColor,
);

$shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
