.scroll {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 50%;
  background: #f6b83d;
  width: 36px;
  height: 36px;
  border: none;

  fill: rgb(255, 255, 255);
  cursor: pointer;
  box-shadow: 0px 1px 18px 0px #f6b83d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll.visible {
  opacity: 1;
  z-index: 300;
}

.scroll:hover {
  fill: #f6b83d;
  background-color: #fff4df;
}
