@use "sass:map";

@use "../utils/placeholders";
@use "../utils/variables" as var;
@use "../utils/functions" as fn;
@use "../utils/mixins" as mx;

body {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  color: fn.get-color("light-secondary");

  background-color: fn.get-color("background-primary");
}

button {
  font-family: inherit;
  color: fn.get-color("current");
  cursor: pointer;
}

.container {
  min-width: map.get(var.$breakpoints, "x-sm");
  max-width: map.get(var.$breakpoints, "sm");
  padding: 28px 20px 20px 20px;
  height: 100%;
  margin: 0 auto;

  @include mx.mq("sm") {
    max-width: map.get(var.$breakpoints, "sm");
  }

  @include mx.mq("md") {
    max-width: map.get(var.$breakpoints, "md");
    padding: 32px;
  }

  @include mx.mq("lg") {
    max-width: map.get(var.$breakpoints, "lg");
  }

  &.home {
    padding: 10px;
  }
}
