@use "../utils/placeholders";
@use "../utils/variables" as var;
@use "../utils/functions" as fn;
@use "../utils/mixins" as mx;

body {
  @extend %table-text;

  font-family: var.$main-font, sans-serif;
  font-weight: 500;
  color: fn.get-color("light-secondary");

  background-color: fn.get-color("background-primary");
}

button {
  font-family: inherit;
  color: fn.get-color("current");
  cursor: pointer;
}